<div class="buttons-wrapper">
  <a href="/bin" class="logo">spmBin</a>
  <div class="buttons">
    <a href="/bin/new" class="btn">New</a>
    <% if (locals.canSave) { %>
      <button type="submit" class="btn">Save</button>
    <% } %>
    <% if (locals.id != null) { %>
      <a href="/bin/<%= locals.id %>/duplicate " class="btn">Duplicate</a>
    <% } %>
  </div>
</div>